_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
# Gemfile.lock - needed for GitHub Pages
# Gemfile.lock
assets/libs/
node_modules/
vendor
.idea
.venv
# Large video files
assets/video/dash_1.mp4
images/dash_1.mp4
